.c-pointer {
  cursor: pointer;
}

.table > :not(caption) > * > * {
  color: inherit;
}
.card-title {
  color: #ef6e6e;
  font-weight: bold;
  text-decoration: underline;
}
hr {
  box-sizing: content-box;
  height: 0;
  margin-top: 1rem;
  border: 0.5px solid black;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.text-red-custom {
  color: red;
  font-size: 15px;
}

.loader-wrapper {
  justify-content: center;
}
